<h1>home component</h1>

<!-- ################# Health Care Here#######################--->

<section class="health-care">
   <div class="container">
      <div class="row">
           <div class="col-md-3 col-sm-6 vd">
               <img src="assets/images/services/maa.jpg" alt="">
           </div>
           <div class="col-md-3 col-sm-6 vd">
               <img src="assets/images/services/maa1.jpg" alt="">
           </div>
           <div class="col-md-3 col-sm-6 vd">
               <img src="assets/images/services/maa2.jpg" alt="">
           </div>
           <div class="col-md-3 col-sm-6 vd">
               <img src="assets/images/services/maa4.jpg" alt="">
           </div>
      </div>


   </div>
</section>


<!-- ################# About Starts Here#######################--->


<div class="container">
             <h2 align="center">Welcome to AAIOT</h2> <br><br>
             <p><h5>
             Welcome to motherhood! The life of a woman remains incomplete without enjoying the privilege of being a mother. And the most important part of motherhood is nothing but pregnancy. 			    Pregnancy is one of the joys which cannot be compared with any other happinesses of this world. The entire journey of pregnancy is miraculous.
             <p><h5>
             A moment of unimaginable joy is what a mother feels when a newborn is placed on her arms – a joy every mother should have the right to experience.
              But for many pregnant women in India this memory will never come to be, the moment of birth is often frightening.
The direct causes of maternal deaths are well understood, largely avoidable, and curable, making them a significant health indicator.
Nearly two-thirds of all maternal deaths are caused by serious complications, which include severe bleeding (typically after childbirth), infections, high blood pressure throughout 			pregnancy , problems during delivery, and botched abortions.
<p><h5>
<p>All pregnant women must have access to prenatal care, expert care during childbirth, and care and support in the weeks following childbirth.
All deliveries should be aided by trained medical personnel since prompt management and treatment might mean the difference between life and death for both the mother and the child.
This website focuses on women's health, preventing vaccine-preventable diseases, providing excellent care, saving the lives of newborns, addressing the needs of marginalised and 		difficult-to-reach women in urban and rural regions, and enhancing India's public health infrastructure. <br><br> <br><br>
</h5>
</h5>
</h5>
         </div>



<!-- ################# AppointmentStarts Here#######################--->

<div class="professional-details">
  <div class="layy">
      <div class="container">
          <div class="title-another row">
               <h3>We protect what's most precious,</h3>
   <h3>you and your bundle of joy!</h3>
   <h3>Let us make Pregnancy an Occasion when we celebrate every women.</h3>


          </div>
      </div>
  </div>

</div>


<!--  ************************* Blog Starts Here ************************** -->
      <div class="blog">
         <div class="row session-title">
             <h2>Latest Blog</h2>

         </div>
          <div class="container">
              <div class="row">
                  <div class="col-md-6 col-sm-12">
                      <div class="blog-singe no-margin row">
                          <div class="col-sm-5 blog-img-tab">
                              <img src="assets/images/blog/image1.jpg" alt="">
                          </div>
                          <div class="col-sm-7 blog-content-tab">
                              <h2>Why Pregnancy Awareness is important ?</h2>
                              <p class="blog-desic">Women in rural communities experience higher rates of life-threatening complications </p>
                              <a href="inform.html">Read More <i class="fas fa-arrow-right"></i></a>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-6 col-sm-12">
                      <div class="blog-singe no-margin row">
                          <div class="col-sm-5 blog-img-tab">
                              <img src="assets/images/blog/12.png" alt="">
                          </div>
                          <div class="col-sm-7 blog-content-tab">
                              <h2>Advance Medical connectivity in Rural Area</h2>
                              <p class="blog-desic">Women in rural communities experience higher rates of life-threatening complications </p>
                              <a href="information.html">Read More <i class="fas fa-arrow-right"></i></a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>


