
<footer class="footer">
  <div class="container">
      <div class="row">
          <div class="col-md-4 col-sm-12">
              <h2>About Us</h2>
              <p>
                  In the developing countries most of the peoples are lived in the rural areas and medical systems are not amalgamated for sharing information. mostly, The pregnant women's are unable to do their normal checkups at the starting time of pregnancy time and this cause higher death count in case of newborn and parental in the rural areas as well as in urban also.
              </p>
              <p>We focus on technologies that will connect medical resources for Pregnent women  </p>
          </div>
          <div class="col-md-4 col-sm-12">
              <h2>Useful Links</h2>
              <ul class="list-unstyled link-list">
                  <li><a ui-sref="about" href="#/about">About us</a><i class="fa fa-angle-right"></i></li>
                  <li><a ui-sref="portfolio" href="#/portfolio">Portfolio</a><i class="fa fa-angle-right"></i></li>
                  <li><a ui-sref="products" href="#/products">Latest jobs</a><i class="fa fa-angle-right"></i></li>
                  <li><a ui-sref="gallery" href="#/gallery">Gallery</a><i class="fa fa-angle-right"></i></li>
                  <li><a ui-sref="contact" href="#/contact">Contact us</a><i class="fa fa-angle-right"></i></li>
              </ul>
          </div>
          <div class="col-md-4 col-sm-12 map-img">
              <h2>Contact Us</h2>
              <address class="md-margin-bottom-40">

                  C-DAC <br>
                  Innovation Park, Panchawati, <br>
                  Pashan, Pune 411008<br>
                  Phone: +91 9552881797 <br>
                  Email: <a href="mailto:priyanka.yethekar11@gmail.com" class="">priyanka.yethekar11@gmail.com</a><br>

              </address>

          </div>
      </div>
  </div>



<div class="copy">
      <div class="container">
          <span>
          <a><i class="fab fa-github"></i></a>
          <a><i class="fab fa-google-plus-g"></i></a>
          <a><i class="fab fa-pinterest-p"></i></a>
          <a><i class="fab fa-twitter"></i></a>
          <a><i class="fab fa-facebook-f"></i></a>
  </span>
      </div>

</div>

</footer>
