
<h1>Hospitals connected with project AAIoT</h1> <hr>
<table  class="table-fill">
  <thead>
      <tr>
          <th colspan="2" class="text-center">Hospital</th>
      </tr>
  </thead>
  <tbody>
      <tr>
          <td> <a routerLink="">Sharda Clinic</a></td>
      </tr>
      <tr>
          <td> <a routerLink="">Harjeevan Hospital</a></td>
         </tr>
         <tr>
          <td> <a routerLink="">Panchsheel Hospital</a></td>
         </tr>
         <tr>
          <td> <a routerLink="">Naik Hospital</a></td>
         </tr>
         <tr>
          <td> <a routerLink="">Poona Hospital</a></td>
         </tr>
    </tbody>
    </table>
