
  <div class="container">
    <h2 align="center">Welcome to AAIOT</h2> <br><br>
    <p><h5>
    Welcome to motherhood! The life of a woman remains incomplete without enjoying the privilege of being a mother. And the most important part of motherhood is nothing but pregnancy. 			    Pregnancy is one of the joys which cannot be compared with any other happinesses of this world. The entire journey of pregnancy is miraculous.
    <p><h5>
    A moment of unimaginable joy is what a mother feels when a newborn is placed on her arms – a joy every mother should have the right to experience.
     But for many pregnant women in India this memory will never come to be, the moment of birth is often frightening.
The direct causes of maternal deaths are well understood, largely avoidable, and curable, making them a significant health indicator.
Nearly two-thirds of all maternal deaths are caused by serious complications, which include severe bleeding (typically after childbirth), infections, high blood pressure throughout 			pregnancy , problems during delivery, and botched abortions.
<p><h5>
All pregnant women must have access to prenatal care, expert care during childbirth, and care and support in the weeks following childbirth.
All deliveries should be aided by trained medical personnel since prompt management and treatment might mean the difference between life and death for both the mother and the child.
This website focuses on women's health, preventing vaccine-preventable diseases, providing excellent care, saving the lives of newborns, addressing the needs of marginalised and 		difficult-to-reach women in urban and rural regions, and enhancing India's public health infrastructure. <br><br> <br><br>
</h5>
</h5>
</h5>
</div>
